{% extends 'core/base.html' %}

{% load static %}

{% block title %} Mis rutas {% endblock %}

{% block image-header %} blog {% endblock %}

{% block title-header %} 

{% endblock %}
<div class="col-12 titulos">
    <div>
        <h1 class="display-4 fw-bold">Saulo Andrés Carmoma Toro</h1>
    </div>
    <div>
        <h3 class="fs-2">Desarrollador Web</h3>
    </div>
</div>

{% block content %} 
     
        
        <h2 class="fw-bold">Mis rutas</h2>
        <section class="skills" id="skills">
            <div class="skills__container" id="skills">
                
                {% for public in publicaciones  %}                   
                    <div class="row project mb-5">  	
                        <div class="col-lg-3 col-md-4 offset-lg-1">
                            <img class="img-fluid" src="{{ public.imagen.url }}" alt="">
                        </div>
                    <div class="col-lg-7 col-md-8">
                            <h2 class="section-heading title">{{ public.titulo }}</h2>   
                        <strong>Descripción:</strong><p> {{ public.contenido }}</p>
                        
                        
                        {% if public.url_strava %}              
                            <p><a class="btn btn-sm btn-success" href="{{ public.url_strava }}">Más información</a></p>
                
                        {% else %}
                        <p><a href="#">En desarrollo</a></p>
                        {% endif %}
                        </div>
                    </div>
                    
                {% endfor %}

            </div>
        </section>
    </section>
    </div>

</div>



{% endblock %}