{% extends 'core/base.html' %}

{% block title %} Inicio {% endblock %}

{% block image-header %} home {% endblock %}

{% block title-header %} 
<div>
    <h1 class="display-4 fw-bold">Saulo Andrés Carmona</h1>
</div>
<div>
    <h3 class="fs-2">Desarrollador Web</h3>
</div>
{% endblock %}

{% block content %} 
<h1 class="fw-lighter fst-italic px-5">Soy Saulo Andrés Carmona, y este espacio está dedicado a compartir contigo mi pasión por diversas áreas, con un enfoque especial en las fascinantes maravillas de las matemáticas.

    Bertrand Russell, el filósofo y matemático, una vez expresó: "Las matemáticas, bien vistas, poseen no solo la verdad, sino cierta belleza suprema. Una belleza fría y austera, como la de una escultura". </h1>
{% endblock %}