{% extends 'core/base.html' %}

{% block title %} Inicio {% endblock %}

{% block image-header %} home {% endblock %}

{% block title-header %} 
<div>
    <h1 class="display-4 fw-bold">Saulo Andrés Carmona Toro</h1>
</div>
<div>
    <h3 class="fs-2">Matemático-Desarrollador Web</h3>
</div>
{% endblock %}

{% block content %} 
</h3><p><strong>¡Bienvenidos a mi rincón digital!</strong></p>

    Me complace enormemente que estés aquí explorando mi espacio virtual. Mi nombre es Saulo Andŕes Carmona Toro, y esta página es mucho más que una simple hoja de vida. Es un reflejo de mis pasiones, un viaje a través de los caminos de mi vida tanto en el fascinante mundo del ciclismo como en las intrincadas maravillas de las matemáticas.
    Así que, ponte cómodo, explora a tu antojo y descubre los diversos aspectos que conforman mi vida y mi pensamiento. Esta página no es solo mía; es un punto de encuentro para aquellos que comparten intereses en la exploración, el conocimiento y la emoción de la vida en dos ruedas.
    
    <p>¡Gracias por ser parte de este viaje digital conmigo!</p>
    
    <strong>Bertrand Russell</strong>, el filósofo y matemático, una vez expresó: "Las matemáticas, bien vistas, poseen no solo la verdad, sino cierta belleza suprema. Una belleza fría y austera, como la de una escultura". </h3>
{% endblock %}