{% extends 'core/base.html' %}

{% block title %} Inicio {% endblock %}

{% block image-header %} home {% endblock %}

{% block title-header %} 
<div>
    <h1 class="display-4 fw-bold">Saulo Andrés Carmona</h1>
</div>
<div>
    <h3 class="fs-2">Desarrollador Web</h3>
</div>
{% endblock %}

{% block content %} 
<h1 class="fw-lighter fst-italic px-5">Soy matemático graduado de la Universidad de Antioquia con sólidos conocimientos en diversas áreas de la matemática. Además, poseo habilidades en programación, especialmente en Python y Java, así como experiencia en Latex, HTML y CSS. Mi formación incluye varios diplomados en programación y desarrollo web. </h1>
{% endblock %}