{% extends 'core/base.html' %}

{% load static %}

{% block title %} Acerca de mi {% endblock %}

{% block image-header %} about {% endblock %}


<div class="col-12 titulos">
    <div>
        <h1 class="display-4 fw-bold">Saulo Andrés Carmoma Toro</h1>
    </div>
    <div>
        <h3 class="fs-2">Desarrollador Web</h3>
    </div>
</div>

{% block content %} 

{% block title-header %} 
<h2 class="fw-bold">Acerca de mi</h2>
{% endblock %}

<div class="row d-flex">
    <div class="col-4 offset-md-auto">
        <img class="img-fluid img-thumbnail img-circle img-perfil" src="/media/about.jpg" alt="">
    </div>
    <div class="col-8">
        <h3>Soy matemático graduado de la Universidad de Antioquia con sólidos conocimientos en diversas áreas de la matemática. Además, poseo habilidades en programación, especialmente en Python y Java, así como experiencia en Latex, HTML y CSS. Mi formación incluye cinco diplomados en programación y desarrollo web.</h3>
    </div>
</div> 

<div class="row d-flex pt-5">
    <div class="col-12">

        
        {% for form in formacion  %}
            
        
        
        
            <h2 class="fw-bold">Formación Académica</h2>
            <h3>Formación Nº {{ form.id }}</h3>
            <p><strong>Título obtenido:</strong> {{form.titulo}}</p>
            <p><strong>Descripción:</strong> {{ form.descripcion }}</p>        
            <hr>
            
        {% endfor %} 
        <h2 class="fw-bold">Conocimientos</h2>
        <section class="skills" id="skills">
            <div class="skills__container" id="skills">
                
                {% for skill in skills  %}                   
                    <div class="card__skills">
                        <div class="skill__thumbnail">
                            <img class="skill__logo" src="{{ skill.imagen.url }}" alt="html5">
                        </div>

                        <div class="skill__texto">
                            <p class="skill__titulo">{{ skill.titulo }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </section>
    </section>
    </div>

</div>



{% endblock %}